.form-split-button {
  .dropdown {
    display: flex;
    width: 100%;
    .form-control.btn {
      text-align: left;
    }
    ul {
      min-width: 100%;
    }
  }
}

.cloudmeter-dropdownselect {
  .dropdown {
    border-width: 0;
    display: flex;
    padding: 0;
    width: 100%;

    .dropdown-menu {
      width: 100%;
    }
    .dropdown-toggle.btn {
      text-align: left;
      width: 100%;
    }
    .dropdown-toggle.btn {
      > span:first-child {
        width: 92%;
      }
      > span {
        display:inline-block;
      }
    }

    .cloudmeter-dropdownselect-menuitem {
      margin-left: 0;
      margin-right: 0;
    }
    .cloudmeter-dropdownselect-menuitem-selected,
    .cloudmeter-dropdownselect-menuitem-selected:hover,
    .cloudmeter-dropdownselect-menuitem-selected:focus {
      background-color: $color-pf-blue-400;
      border-width: 0;
      color: $color-pf-white;

      > a, > a:focus {
        background-color: inherit;
        border-color: $color-pf-blue-400;
        color: inherit;
        outline: inherit;
      }
    }
    .cloudmeter-dropdownselect-menuitemname {
      padding-left: 0;
      padding-right: 0;
    }
    .cloudmeter-dropdownselect-menuitemcheck {
      padding-right: 5px;
      text-align: right;
    }
  }
}

.cloudmeter-checkbox {
  padding-top: 3px;
}

.cloudmeter-copy {
  .cloudmeter-copy-display-button {
    min-width: 26px;
  }

  .cloudmeter-copy-input, .cloudmeter-copy-display {
    &:disabled {
      background-color: transparent;
      -webkit-text-fill-color: $color-pf-black-700;
      color: $color-pf-black-700;
    }
  }

  .cloudmeter-copy-input {
    text-overflow: ellipsis;

    &.expanded {
      background-color: $color-pf-black-200;
    }
  }

  .cloudmeter-copy-display {
    border: 1px solid $color-pf-black-400;
    border-top-width: 0;
    padding: 15px;
    resize: none;
    width: 100%;
    word-wrap: break-word;
  }
}

.cloudmeter-label-nowrap {
  white-space: nowrap;
}

.cloudmeter-flag-status-pending {
  input[type=checkbox] {
    display: none;
  }

  .cloudmeter-flag-status-icon {
    position: relative;
    margin-left: -20px;
    margin-right: 5px;
  }
}
